<%- include('partials/_header'); -%>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2>Patients Assigned to Nurse: <%= nurse_name %></h2>
            <a href="/nurses" class="btn btn-secondary mb-3">Back to Nurses</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <% if (data && data.length > 0) { %>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Patient Name</th>
                            <th>Age</th>
                            <th>Gender</th>
                            <th>Doctor</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i = 0; i < data.length; i++) { %>
                            <tr>
                                <td><%= (i + 1) %></td>
                                <td><%= data[i].name %></td>
                                <td><%= data[i].age %></td>
                                <td><%= data[i].gender %></td>
                                <td><%= data[i].doctor_name %></td>
                                <td>
                                    <a href="/patients/update/<%= data[i].patient_id %>" class="btn btn-info btn-sm">Update</a>
                                    <a href="/patients/delete/<%= data[i].patient_id %>" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            <% } else { %>
                <div class="alert alert-info">
                    No patients assigned to this nurse.
                </div>
            <% } %>
        </div>
    </div>
</div>

<%- include('partials/_footer'); -%>
