<%- include('partials/_header'); -%>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h2>Patient Management</h2>
            <a href="/" class="btn btn-secondary mb-3">Back to Home</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Patient Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Doctor</th>
                        <th>Specialization</th>
                        <th>Nurse</th>
                        <th>Lab</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data) { %>
                        <% for (var i = 0; i < data.length; i++) { %>
                            <tr>
                                <td><%= (i + 1) %></td>
                                <td><%= data[i].patient_name %></td>
                                <td><%= data[i].age %></td>
                                <td><%= data[i].gender %></td>
                                <td><%= data[i].doctor_name %></td>
                                <td><%= data[i].specialization %></td>
                                <td><%= data[i].nurse_name %></td>
                                <td><%= data[i].lab_name %></td>
                                <td>
                                    <a href="/patients/delete/<%= data[i].patient_id %>" class="btn btn-danger btn-sm">Delete</a>
                                    <a href="/patients/update/<%= data[i].patient_id %>" class="btn btn-info btn-sm">Update</a>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <a href="/patients/add" class="btn btn-primary">Add New Patient</a>
        </div>
    </div>
</div>

<%- include('partials/_footer'); -%>
